.App {
  font-family: sans-serif;
  text-align: center;
}

.SwitchContainer {
  display: flex;
  align-items: center;
  border-radius: 35px;
  width: max-content;
  height: max-content;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid gray;
}

.ToggleItem {
  height: 40px;
  display: flex;
  border-radius: 35px;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
}

.Text {
  color: black;
  font-size: 14px;
  margin-left: 5px;
}
